.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  font-size: 18px;
  background-color: #4E4E4E;
  color: white;
}

.nav h1 {
  font-weight: bold;
  font-size: 18px;
  width: 18%;
}

nav .container {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 320px) {
  .nav-links {
    display: none;
  }
  .nav h1 {
    padding-left: 40px;
    white-space: nowrap;
  }
}

@media (min-width: 1400px) {
  .nav-links {
    display: initial;
    min-width: 32%;
  }
  .nav-contact-anchor {
    cursor: not-allowed;
  }
  nav .container a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
  }
}