html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

section {
  padding: 80px 0;
}

h1 {
  font-size: 36px;
  color: white;
}

h2 {
  font-size: 18px;
  color: white;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 1400px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}